body {
    font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Desktop Nav Bar */
.desktop-nav {
    background-color: white;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.desktop-nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.desktop-nav ul li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'Staatliches', sans-serif;
    font-size: 25px;
    position: relative;
}

.desktop-nav a {
    text-decoration: none;
    color: black;
}

.desktop-nav a::before,
.desktop-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.desktop-nav a::after {
    transform-origin: left;
}

.desktop-nav a:hover::before,
.desktop-nav a:hover::after {
    transform: scaleX(1);
}

.mobile-nav {
    display: none;
}

/*Images*/
img {
    max-width: 100%;
    /* height: auto; */
    display: block;
    overflow: visible;
}

/* Global Styles */
h1{
    font-size: 60px;
    font-family: 'Staatliches', sans-serif;
    color: black;
}

h3{
    font-family: 'Staatliches', sans-serif;
    color: black;
    font-size: 35px;
    padding-bottom: 20px;
}

p{
    font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 17px;
    color: black;
}

/*Home Page */
.home-content h1, h3{
    margin-top: 40px;
    margin-bottom: -16px;
    padding-right: 50%;
    color: white;
}

.home-content h1,h3{
    margin-top: 40px;
    margin-bottom: -16px;
    padding-right: 50%;
    color: white;
}

.home-content p{
     padding-right: 50%;
     color: white;
  }

header{
    background-image: url("../images/home-background3.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
}

section.discovery-home{
    background-color: rgb(0, 0, 0);
}

section.society-home{
    background-color: white;
}

section.society-home h3{
    color:black;
}

section.society-home p{
    color:black;
}

section.science-home{
    background-color:black;
}

.home-container{
    width: 960px;
    height: 420px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

header .home-container{
    padding-top: 152px;
    padding-bottom: 184px;
}

img.home{
    object-fit: cover;
    float: right;
    width: 400px;
    height: 300px;
    margin-left: 40px;
    margin-bottom: 40px;
}

/*Discovery Page */
body.discovery {
  background-color: black;
}
body.discovery > .content-container {
  border-left: 15px solid #fff;
  height: auto;
}
.discovery-content {
    margin-left: 80px;
}
.discovery h1 {
    color: white;
    margin-left: 80px;
}

.discovery-content h3 {
    color:white;
}

.discovery-subsection p{
    color:white;
    max-width: 400px;
}

.discovery-subsection img{
    float: right;
    width: 320px;
    height: auto;
    margin-left: 50px;
    border-style: solid;
    border-color: white;
    border-width: 7px;
}

.content-container{
    margin: 0 10% 10% 10%;
}

/*Science Page */
.science-content h3{
    color:black;
}

/*Society Page */
.society-content h3{
    color:black;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

footer p{
    color: white;
    margin-left: 50px;
}

footer a{
    color: white;
}

footer a:hover{
    color: #555;
}

/* Button */
.rectangular-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Staatliches', sans-serif;
    font-size: 15px;
    background: linear-gradient(to right, #333 50%, #555 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s;
}

.rectangular-button:hover {
    background-position: -100% 0;
    color: #fff;
}

.rectangular-button a {
    color: white;
    text-decoration: none;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {

    /* Global Styles */
    h1 {
        font-size: 2em; 
    }

    h3 {
        font-size: 1.5em;
        padding-bottom: 10px;
    }

    p {
        width: 90%;
        font-size: 13px;
        line-height: 1.5;
        padding-bottom: 30px;
    }
    .desktop-nav {
        display: none;
    }

    /* Home Page */
    .home-content h1,
    .home-content h3,
    .home-content p {
        margin-top: 20px;
        margin-bottom: -8px;
        text-align: left;
        padding-right: 0; 
        padding-left: 20px;
    }

    /* Header */
    header .home-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home-container{
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 0px;
        padding-bottom: 70px;
        padding-left: 0px;
    }

    img.home {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: auto;
        border: aliceblue;
    }

    /* Discovery Page */
    .discovery-content h3 {
        font-size: 1.5em; 
    }

    .content-container {
        margin: 0 5% 5% 5%;
    }

    /* Science Page */
    .science-content h3 {
        font-size: 1.5em;
    }

    /* Society Page */
    .society-content h3 {
        font-size: 1.5em; 
    }

    /* Button */
.rectangular-button {
    padding: 10px 20px;
    margin-left: 30px;
    float: left;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Staatliches', sans-serif;
    font-size: 15px;
    background: linear-gradient(to right, #333 50%, #555 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s;
}

    /* Footer */
    footer {
        padding: 10px 0;
    }

    footer p {
        margin: 0;
        text-align: left;
        padding-left: 20px;
    }

    /* Mobile Nav*/

    .menu-toggle {
        display: block;
        font-size: 30px;
        margin-right: 30px;
        float: right;
    }

    .text-links {
        display: flex;
        font-family: 'Staatliches', sans-serif;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
        height: auto;
        max-height: 0px;
        transition: max-height 0.4s ease-in-out;
        overflow: hidden
    }

    .text-link {
        display: flex;
        font-size: 24px;
        margin: 10px;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
    }
    
    .mobile-nav a {
        color: black;
        text-decoration: none;
        position: relative;
        display: block;
    }
    
    .mobile-nav a::before,
    .mobile-nav a::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: black;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s;
    }
    
    .mobile-nav a::after {
        transform-origin: left;
    }
    
    .mobile-nav a:hover::before,
    .mobile-nav a:hover::after {
        transform: scaleX(1);
    }

    }