html { 
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    font-family: futura-pt, sans-serif;
    font-size: 15pt;
}
img { 
    display: inline-block;
    width: 20%;
    height: 20%; 
}

h1{
    font-size: 28pt;
}

h2{
    font-size: 24pt;
}

h3 { 
    font-size: 20pt;
}

h4{
    font-size: 18pt;
}