body {
    font-family: 'Futura', sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 450px;
    margin: 0 auto;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
}
